{
  "presets": ["stage-0", "es2015", "react"],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {"globals": ["Error"]}]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
