.root {
  $padding: 2.4rem;
  width: calc(100% + #{$padding});

  .slider {
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
  }

  .page {
    flex: 1 0 auto;
    width: calc(100%);
    padding-right: $padding;
  }
}
