.root {
  width: calc(100% - 3rem);
  max-width: 400px;

  [role=body] {
    overflow-y: initial !important;
    position: relative;
    z-index: 2;
  }

  [role=navigation] {
    position: relative;
    z-index: 1;
  }
}

.loader {
  text-align: center;
  margin-top: 4rem;
}

.versionSelectItem {
  strong {
    display: block;
  }
}

.error {
  padding: 1.5rem 2.4rem;
  margin-right: -2.4rem;
  margin-left: -2.4rem;
  background-color: $palette-red-a100;
}

.errorInactive {
  display: none;
}
